.navbar {
    background-color: #161616;
    height: 80px;
}

canvas#barChart {
    background-color: #FFF;
  }

.navbar-brand {
    color: #F3F3F3;
    padding-top: 15px !important; 
    font-size: 32px !important;
}

.navbar-location {
    color: #F3F3F3;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
}

.card {
    margin-top: 20px;
}

.card-title {
    color: #F3F3F3;
    z-index: 3;
}

.card-body {
    display: flex;
    justify-content: space-between;
    background-color: #92A2DC;
    border-radius: 5px;
    margin-top: -10px;
    z-index: 1;
}

.card-text {
    font-size: large;
    color: #F3F3F3;
}

.card img {
    background-color: #475072;
    border-radius: 5px;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.media img {
    width: 10%;
    height: 20%;
    border-radius: 5px;
    object-fit: cover;
}

.media {
    display: flex;
    align-content: center;
    vertical-align: middle;
}

.media-body {
    padding-top: 10px;
}

.cart-element {
    margin-top: 10px;
    border-width: 5px;
    border-radius: 5px;
    background-color: #92A2DC;
}

.cart-button {
    height: 100%;

}

.form-check-input {
    width: 20px !important;
    height: 20px !important;
}